
body {
	background-image: url("../images/cactusBackground.jpg");
}

title 	{
	color: blue;
}
header {
	height: 50px;
}

#directions	{
	background-color: AliceBlue;
}

#gallows, #guessInput, #buttons, #tally {
	background-color: yellow;
	border: 5px solid green;
}

.btn-lg {
	color: yellow;
}

.btn-group {
	background-color: red;
}