
body {
	background-image: url("../images/cactusBackground.jpg");
}

title 	{
	color: blue;
}
header {
	width: 50%
	height: 100px;
	text-align: center;
}

.btn-group-justified {
	margin-top: 15px;
}

#directions	{
	background-color: purple;
	font-size: 20px;
	color: white;
	text-align: left;
}

#gallows, #guessInput, #buttons, #tally {
	background-color: yellow;
	border: 5px solid green;
}

.btn-lg {
	color: yellow;
}

.btn-group {
	background-color: red;
}