* {
    box-sizing: border-box;
}

body {
	background-image: url("../images/cactusBackground.jpg");
}

h1 	{

}
header {
	height: 100px;
}

#directions	{
	background-color: AliceBlue;
}

#gallows, #guessInput, #buttons, #tally {
	background-color: yellow;
	border: 5px solid green;
}

.btn-lg {
	color: yellow;
}

.btn-group {
	background-color: red;
}